// || SCSS-Reset
@import 'reset';

// || Variables
@import 'variables';

// || General Styling

// Importing Work-Sans font from Google Fonts API
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    @include font('Work-Sans', $ftwtRegular);
    color: $clrPrimary300;
    background-color: $clrPrimary100;

    overflow-y: scroll;;

    p {
        line-height: $size600;
    }
}

// | Cover Photo
.cover-photo {
    background-image: url("../assets/images/background-pattern-desktop.svg");  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 35vh;

    @media (max-width: $mobileWidth) {
        body {
            background-image: url("../assets/images/background-pattern-mobile.svg");  
        }
    
    }
}


// | Question Box

.questions-list {
    position: relative;
    top: -$size700*3 - $size200*2 ;
    max-width: 75%;
    border-radius: 20px;
    padding: $size700 $size600 $size500;
    margin-inline: auto;

    h1 {
        margin-bottom: $size700;

        &::before  {
            content: url("../assets/images/icon-star.svg");
            margin-right: $size600;
        }
    }

    .grid-head {
        display: grid;
        grid-template-columns: 8fr 2fr;
        
        .question-row {
            display: flex;
            justify-content: start;
            align-items: center;

            .question {
                span:hover,
                span:focus-within {
                    cursor: pointer;
                    color: $clrPrimary350;
                }
            }
        }
        
        .button-row {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            justify-content: end;
            align-items: center;

            span:hover, 
            :focus-within {
                cursor: pointer;
            }
        }
    }

    .answer {
        display: none;
    }
}


// | Remark
.remarks {
    margin-inline: auto;
    max-width: 75%;
    text-align: center;
 }

// || Utility Classes

// | Padding

.pd-bottom-500 {
    padding-bottom: $size500;
}

.pd-top-500 {
    padding-top: $size500;
}

.pd-block-200 {
    padding-block: $size200;
} 

// | Border
.border-bottom-gray {
    border-bottom: 2px solid $clrPrimary100;
}

// | Background Colors

.bg-white {
    background-color: $clrNeutral400;
}

// | Font Colors 

.ft-clr-dark {
    color: $clrPrimary400;
}

.ft-clr-regular {
    color: $clrPrimary200;
}

.ft-clr-active {
    color: $clrPrimary300;
}

// | Font Size
.ft-sz-extra-large {
    font-size: $size700;
}

.ft-sz-large {
    font-size: $size500;
}

.ft-sz-normal {
    font-size: $size400;
}

// | Font Weight
.ft-wt-bold {
    @include font('Work-Sans', $ftwtBold);
}

.ft-wt-semi-bold {
    @include font('Work-Sans', $ftwtSemiBold);
}
